.data-row {
  margin: 0;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  position: relative;
  text-shadow: 3px 2px 5px steelblue;
  color: midnightblue;
  min-height: 70px;
  transition: color .6s ease;
}

.data-row::before {
  content: '';
  width: 100%;
  min-height: 70px;
  border-radius: 15px;
  background-color: #00BFFF;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity 1s ease;
}

.data-row:hover::before {
  opacity: .8;
  cursor: pointer;
}

.data-row:hover {
  color: white;
  cursor: pointer;
}

.data-row:nth-of-type(2n+1) {
  background-color: #E6E6FA;
}

.data-row:nth-of-type(2n) {
  background-color: #F5FFFA;
}

.data-row__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-grow: .95;
}

.data-row__item-box {
  margin: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: .5;
  z-index: 2;
}

.data-row__item-box_content_code {
  font-weight: 900;
  font-size: 20px;
}

.data-row__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.data-row__button-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: .05;
  z-index: 2;
}

.element__button {
  margin: 0;
  background-color: transparent;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  outline: none;
  transition: opacity .7s ease;
  /*box-shadow: 0 2px 5px #00BFFF;*/
}

.element__button:last-child {
  margin-left: 15px;
}

.element__button:hover {
  opacity: .6;
  cursor: pointer;
}
