.contact-form__input {
  width: 300px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #00BFFF;
  margin: 0;
  border: 0;
  border-radius: 7px;
  border-bottom: solid rgb(29, 3, 122) 2px;
  box-shadow: 0 2px 15px #00BFFF;
  outline: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.popup__input-error {
  margin: 0;
  padding: 0;
  margin-left: 38px;
  font-family: 'Inter', 'Arial', sans-serif;
  color:  #FF0000;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: block;
  min-height: 30px;
}

